<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

	<head>
		<meta charset="UTF-8" />
		<title>DEMO - Data Grid</title>
		<link rel="stylesheet" type="text/css" href="../static/easyui/themes/default/easyui.css" th:href="@{/easyui/themes/default/easyui.css}" />
		<link rel="stylesheet" type="text/css" href="../static/easyui/themes/icon.css" th:href="@{/easyui/themes/icon.css}" />
		<link rel="stylesheet" type="text/css" href="../static/easyui/demo/demo.css" th:href="@{/easyui/demo/demo.css}" />
		<script type="text/javascript" src="../static/easyui/jquery.min.js" th:src="@{/easyui/jquery.min.js}"></script>
		<script type="text/javascript" src="../static/easyui/jquery.easyui.min.js" th:src="@{/easyui/jquery.easyui.min.js}"></script>
		<script type="text/javascript" src="../static/js/myui.js"></script>
	</head>

	<body>
		<table id="dg1" title="DataGrid">

		</table>

		<table id="dg2" title="DG2">

		</table>

		<table id="dg3" title="DG3">

		</table>

		<input id="tb" type="text" style="width:300px" />
		<input id="tb1" type="text" style="width:300px" />
		<form id="f1" method="get"> </form>

		<div>
			<ul id="nav"></ul>
		</div>

		<div id="tt" class="easyui-tabs" data-options="fit:true,border:false,plain:true">
			<div title="About" data-options="href:'_content.html'" style="padding:10px"></div>
			<div title="DataGrid" style="padding:5px">
				<table class="easyui-datagrid" data-options="url:'datagrid_data1.json',method:'get',singleSelect:true,fit:true,fitColumns:true">
					<thead>
						<tr>
							<th data-options="field:'itemid'" width="80">Item ID</th>
							<th data-options="field:'productid'" width="100">Product ID</th>
							<th data-options="field:'listprice',align:'right'" width="80">List Price</th>
							<th data-options="field:'unitcost',align:'right'" width="80">Unit Cost</th>
							<th data-options="field:'attr1'" width="150">Attribute</th>
							<th data-options="field:'status',align:'center'" width="50">Status</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>

	</body>

	<script language="JavaScript">
		$(function() {

			$('#nav').mynavigate({
				data: [{
					"id": 1,
					"text": "Folder1",
					"url":"/multidemoes/daodemo/src/main/resources/templates/login.html",
					"children": [{
						"text": "File1",
						"checked": true
					}, {
						"text": "Books",
						"state": "open",
						"attributes": {
							"url": "/demo/book/abc",
							"price": 100
						},
						"children": [{
							"text": "PhotoShop",
							"checked": true
						}, {
							"id": 8,
							"text": "Sub Bookds",
							"state": "closed"
						}]
					}]
				}, {
					"text": "Languages",
					"state": "closed",
					"children": [{
						"text": "Java"
					}, {
						"text": "C#"
					}]
				}],
				tabsid:'tt'
			});

			$("#f1").myform({
				fields: [{
						label: "名字",
						name: "name",
						ui: 'datebox'
					},
					{
						label: "密码",
						name: "password",
						ui: 'textbox'
					}
				],
				orientate: 'horizontal',
				url: '/multidemoes/daodemo/src/main/resources/templates/dat4.json',
				updateTable: 'dg2'
			})

			$('#tb').textbox({
				buttonText: 'Search',
				iconCls: 'icon-man',
				iconAlign: 'left'
			})

			$('#dg2').mydg({
				columns: [
					[{
							field: 'id',
							title: 'identity',
							width: 100,
							editor: 'numberbox'
						},
						{
							field: 'name',
							title: 'name',
							width: 200,
							editor: 'text'
						}
					]
				],
				url: '/multidemoes/daodemo/src/main/resources/templates/dat3.json',
				method: 'get',
				insertUrl: '/multidemoes/daodemo/src/main/resources/templates/dat1.json',
				updateUrl: '/multidemoes/daodemo/src/main/resources/templates/dat2.json',
				deleteUrl: '/multidemoes/daodemo/src/main/resources/templates/dat1.json',
			})

			//			$('#dg3').mydg({
			//				columns: [
			//					[{
			//							field: 'id',
			//							title: 'identity',
			//							width: 100,
			//							editor: 'numberbox'
			//						},
			//						{
			//							field: 'name',
			//							title: 'name',
			//							width: 200,
			//							editor: 'text'
			//						}
			//					]
			//				],
			//				url: '/multidemoes/daodemo/src/main/resources/templates/dat4.json',
			//				method: 'get'
			//			})

		})
	</script>

</html>